<configuration>
  <property>
    <name>beeline.url</name>
    {% if HADOOP_AUTHENTICATION == 'kerberos' %}
    <value>jdbc:hive2://hive.docker.net:10000/default;user=charlie;password=bogus;principal=hive/docker.net@DOCKER.NET</value>
    {% else %}
    <value>jdbc:hive2://hive.docker.net:10000/default;user=charlie;password=bogus</value>
    {% endif %}
  </property>
</configuration>
