#HDFS_URL="$(xmllint --xpath "string(//configuration/property/value)" $HADOOP_CONF_DIR/core-site.xml)"
HDFS_URL="hdfs://namenode.docker.net:8020"
{% if HADOOP_AUTHENTICATION == 'kerberos' %}
BEELINE_URL="jdbc:hive2://hiveserver2.docker.net:10000/default;user=charlie;password=bogus;principal=hive/docker.net@DOCKER.NET"
{% else %}
BEELINE_URL="jdbc:hive2://hiveserver2.docker.net:10000/default;user=charlie;password=bogus"
{% endif %}
