{% if HADOOP_AUTHENTICATION == 'kerberos' %}
BEELINE_URL="jdbc:hive2://hive.docker.net:10000/default;user=charlie;password=bogus;principal=hive/docker.net@DOCKER.NET"
{% else %}
BEELINE_URL="jdbc:hive2://hive.docker.net:10000/default;user=charlie;password=bogus"
{% endif %}
