<configuration>

  <!--
    If you plan on running YARN, you must set this property to the value of yarn.
  -->
  <property>
    <name>mapreduce.framework.name</name>
    <value>yarn</value>
  </property>

  <!--
    The CLASSPATH for any kind MapReduce applications
  -->
  <property>
    <name>mapreduce.application.classpath</name>
    <value>
      $HADOOP_MAPRED_HOME/*,$HADOOP_MAPRED_HOME/lib/*
    </value>
  </property>


  <!--
    The address of the JobHistory Server host:port
  -->
  <property>
    <name>mapreduce.jobhistory.address</name>
    <value>jobhistory.docker.net:10020</value>
  </property>


  <!--
    The address of the JobHistory Server Web UI host:port
  -->
  <property>
    <name>mapreduce.jobhistory.webapp.address</name>
    <value>jobhistory.docker.net:19888</value>
  </property>


  <!--
    The staging dir used while submitting jobs.
  -->
  <property>
    <name>yarn.app.mapreduce.am.staging-dir</name>
    <value>/tmp/hadoop-yarn/staging</value>
  </property>

  <!--
    Range of ports that the MapReduce AM can use when binding.
    Leave blank if you want all possible ports.
    For example 50000-50050,50100-50200
  -->
  <property>
    <name>yarn.app.mapreduce.am.job.client.port-range</name>
    <value>8043-8043</value>
  </property>

  <!--
    The maximum size of user-logs of each task in KB.
    0 disables the cap.
  -->
  <property>
    <name>mapreduce.task.userlog.limit.kb</name>
    <value>512</value>
  </property>

  <!--
    The maximum size of the MRAppMaster attempt container logs in KB.
    0 disables the cap.
  -->
  <property>
    <name>yarn.app.mapreduce.am.container.log.limit.kb</name>
    <value>512</value>
  </property>

  <!--
    Number of backup files for the ApplicationMaster logs when using
    ContainerRollingLogAppender (CRLA).
    See org.apache.log4j.RollingFileAppender.maxBackupIndex. By default,
    ContainerLogAppender (CLA) is used, and container logs are not rolled.
    CRLA is enabled for the ApplicationMaster when both
    mapreduce.task.userlog.limit.kb and
    yarn.app.mapreduce.am.container.log.backups are greater than zero.
  -->
  <property>
    <name>yarn.app.mapreduce.am.container.log.backups</name>
    <value>4</value>
  </property>

  <!--
    Number of backup files for task logs when using ContainerRollingLogAppender (CRLA).
    See org.apache.log4j.RollingFileAppender.maxBackupIndex. By default,
    ContainerLogAppender (CLA) is used, and container logs are not rolled.
    CRLA is enabled for tasks when both mapreduce.task.userlog.limit.kb and
    yarn.app.mapreduce.task.container.log.backups are greater than zero.
  -->
  <property>
    <name>yarn.app.mapreduce.task.container.log.backups</name>
    <value>4</value>
  </property>



  {# ========================================================================= #}

  {% if HADOOP_AUTHENTICATION == 'kerberos' %}

  <property>
    <name>mapreduce.jobhistory.keytab</name>
    <value>/shared/secrets/mapred.keytab</value>
  </property>

  <property>
    <name>mapreduce.jobhistory.principal</name>
    <value>mapred/docker.net@DOCKER.NET</value>
  </property>

  {#
  <!-- TODO To enable TLS/SSL -->
  <property>
    <name>mapreduce.jobhistory.http.policy</name>
    <value>HTTPS_ONLY</value>
  </property>
  #}

  {% endif %}
</configuration>
