# .bash_profile

readonly red="$(tput setaf 1)"
readonly green="$(tput setaf 2)"
readonly reset="$(tput setaf 7)"

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
	. ~/.bashrc
fi

# User specific environment and startup programs
PATH="$PATH:$HOME/bin"
export PATH

# Configure Hadoop
export HADOOP_CONF_DIR="/etc/hadoop/conf"
export YARN_CONF_DIR="/etc/hadoop/conf"

# Configure Hive2
export HIVE2_URL="jdbc:hive2://hive.docker.net:10000/default"
{% if HADOOP_AUTHENTICATION == 'kerberos' %}
export HIVE2_URL="$HIVE2_URL;principal=hive/docker.net@DOCKER.NET"
{% endif %}
{% if TLS_ENCRYPTION == 'true' %}
export HIVE2_URL="$HIVE2_URL;ssl=true;sslTrustStore=hive.docker.net;trustStorePassword=changeit"
{% endif %}

{% if HADOOP_AUTHENTICATION == 'kerberos' %}
# Set Kerberos authentication variables
export KERBEROS_PRINCIPAL="{{ comp1 }}{% if comp2 %}/{{ comp2 }}{% endif %}"
export KERBEROS_KEYTAB="/shared/secrets/{{ comp1 }}.keytab"
# Acquire Kerberos TGT
kinit -k -t $KERBEROS_KEYTAB $KERBEROS_PRINCIPAL
{% endif %}

{#
# Configure Apache Spark
export SPARK_HOME="/opt/spark"
export PATH="$PATH:$SPARK_HOME/bin"
#}

